<div class="navbar navbar-default navbar-fixed-top">
  <style>

    h1 {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .navbar-brand img {
      height: 30px;
    }
  </style>

  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><img src="/images/logo.png"></a>
      <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a>
            <h1 ng-if="!isStoreMode">Operations Interface</h1>
            <h1 ng-if="isStoreMode">Stores Interface</h1>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
