extends layout

block content
  div(ng-app='automate.dashboard')
    header
    .container
      .page-content.row
        .col-sm-12.col-md-8
          map
        .col-sm-12.col-md-4
          scheduler
