extends layout

block content
  div(ng-app='automate.dashboard')
    header(is-store-mode="true")
    .container
      .page-content
        .row
          .col-sm-12
            map(is-store-mode="true")
